@charset "UTF-8";
/** Variables **/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #F2F2F2;
  font-family: "Roboto", Arial;
  border-top: 30px solid #8e2ba1;
}

.wrapper {
  width: 90%;
  max-width: 500px;
  padding: 40px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0 0 3px grey;
}

.form-container {
  width: 100%;
  color: #F2F2F2;
  padding: 50px;
}
.form-container .form-material {
  width: 100%;
}
.form-container .form-material .input-group {
  position: relative;
  margin-bottom: 32px;
  /** Condicional para Tipos de Inputs **/
}
.form-container .form-material .input-group input[type=text], .form-container .form-material .input-group input[type=email], .form-container .form-material .input-group input[type=password], .form-container .form-material .input-group input[type=number] {
  font-family: "Roboto", Arial;
  font-size: 16px;
  color: #8e2ba1;
  width: 100%;
  outline: none;
  padding: 15px;
  background: none;
  border: none;
  border-bottom: 2px solid #BBDEFB;
  /** Anidamiento de condiciones con estados **/
}
.form-container .form-material .input-group input[type=text]:focus, .form-container .form-material .input-group input[type=text]:active, .form-container .form-material .input-group input[type=email]:focus, .form-container .form-material .input-group input[type=email]:active, .form-container .form-material .input-group input[type=password]:focus, .form-container .form-material .input-group input[type=password]:active, .form-container .form-material .input-group input[type=number]:focus, .form-container .form-material .input-group input[type=number]:active {
  outline: none;
  border-bottom: 2px solid #8e2ba1;
}
.form-container .form-material .input-group input[type=text].error, .form-container .form-material .input-group input[type=email].error, .form-container .form-material .input-group input[type=password].error, .form-container .form-material .input-group input[type=number].error {
  border-bottom: 2px solid #c03b3b;
  /** Label que esté debajo **/
}
.form-container .form-material .input-group input[type=text].error + label, .form-container .form-material .input-group input[type=email].error + label, .form-container .form-material .input-group input[type=password].error + label, .form-container .form-material .input-group input[type=number].error + label {
  color: #c03b3b;
}
.form-container .form-material .input-group label {
  color: #8e2ba1;
}
.form-container .form-material .input-group label.label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  line-height: 16px;
  margin-left: 16px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form-container .form-material .input-group label.label.active {
  top: -12px;
  font-size: 12px;
  line-height: 12px;
  color: #B6B6B6;
}
.form-container .form-material .input-group.checkbox label, .form-container .form-material .input-group.radio label {
  display: inline-block;
  cursor: pointer;
  color: #8e2ba1;
  position: relative;
  padding: 5px 15px 5px 51px;
  font-size: 1em;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form-container .form-material .input-group.checkbox label:hover, .form-container .form-material .input-group.radio label:hover {
  background: #bbdefb;
}
.form-container .form-material .input-group.checkbox label:before, .form-container .form-material .input-group.radio label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 15px;
  border-radius: 50%;
  background: none;
  border: 2px solid #8e2ba1;
}
.form-container .form-material .input-group.error label {
  color: #c03b3b;
}
.form-container .form-material .input-group.error label:hover {
  background: rgba(192, 59, 59, 0.2);
}
.form-container .form-material .input-group.error label:before {
  border: 2px solid #c03b3b;
}
.form-container .form-material .input-group.radio input[type=radio] {
  display: none;
}
.form-container .form-material .input-group.radio input[type=radio]:checked + label:before {
  display: none;
}
.form-container .form-material .input-group.radio input[type=radio]:checked + label {
  padding: 5px 15px;
  background: #8e2ba1;
  border-radius: 2px;
  color: #F2F2F2;
}
.form-container .form-material .input-group.checkbox label:before {
  border-radius: 3px;
}
.form-container .form-material .input-group.checkbox input[type=checkbox] {
  display: none;
}
.form-container .form-material .input-group.checkbox input[type=checkbox]:checked + label:before {
  display: none;
}
.form-container .form-material .input-group.checkbox input[type=checkbox]:checked + label {
  padding: 5px 15px;
  background: #8e2ba1;
  border-radius: 2px;
  color: #F2F2F2;
}
.form-container input[type=submit] {
  border: none;
  background: #8e2ba1;
  border-radius: 1px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  width: 100%;
  font-family: "Roboto", Arial;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form-container input[type=submit]:hover {
  background: #1976D2;
}

/*# sourceMappingURL=style.css.map */
